*, *::before, *::after {

	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.clearfix::after,
.clearfix::before {

	content: "";
	display: block;
	clear: both;

}

body {

	/* font-size: 62.5%; */
	font-size: 100%;
	line-height: 1.5;
	font-family: 'Arial','sans-serif','sans';
	
}

#wrapper {
	
	margin: 20px auto;
	padding:  30px;
}

form {

	display: inline-block;
	
}

form div {

	margin-bottom: 12px;

}

form#add-form,
form#live-search {

	margin-bottom: 15px;
	width: 400px;

}

fieldset {

	padding: 15px;

}

legend {

	display: inline-block;
	padding: 10px;

}

label {

	float: left;
	width: 100px;

}

input[type="text"],
select {

	padding: 3px 5px;
	width: 70%;

}

input[type="submit"],
input[type="button"] {

	padding: 3px 5px;

}

input[type="file"] {

	border: 1px solid gray;

}

table {

	border-collapse: collapse;

}

td, th {

	border:  1px solid black;
	padding: 4px 8px;
	position: relative;

}

tbody tr:nth-child(even) {

	background: #dedede;

}

td a {

	display: block;

}

.mt-1 {

	margin-top: 1rem;

}

.mb-1 {

	margin-bottom: 1rem;

}


#overlay {

	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 350px;
	height: 80%;
	color: white;
	background-color: rgba(0,0,0,0.95);
	text-align: center;
	display: none;

}

#overlay .close {

	position: absolute;
	right: 15px;
	top: 10px;
	color: red;
	font-weight: bold;
	cursor: pointer;

}

.profile-info-picture figure {

	width: 120px;
	height: 120px;
	margin: 0 auto;
	border-radius: 50%;
	background-position: 50% 50%;
	background-size: cover;
	border: 3px solid white;

}

.profile-info {

	padding: 30px;

}

.profile-info-details {

	margin-top: 1rem;
	margin-bottom: 10px;

}

#upload-form {

	margin-top: 40px;

}

.tooltip {

	position: absolute;
	top: -24px; 
	left: 70px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 2px solid black;
	background-position: 50% 50%;
	background-size: cover;

}

.pagination > li {

	list-style: none;
	display: inline-block;
	text-align: center;
	padding: 8px;

}

.pagination > li a {

	color: gray;
	text-decoration: none;

}


.pagination > li.active > a {

	color: black;
	font-weight: bold;

}