html {

	font-size: 100%;

}


#wrapper {

	margin: 20px auto;

}


#form-add, #form-update {

	border: 1px solid black;
	padding: 26px 15px 6px 15px;

}

#form-add > div, #form-update > div {

	margin: 10px 0;

}

.forms > div > label {

	float: left;
	width: 110px;
	line-height: 1.5;

}

.forms input[type="text"] {

	padding: 4px;

}

#add-record, #search-record {

	padding: 12px;
    background-color: black;
    color: white;
    border-radius: 6px;
    line-height: 10px;
    display: inline-block;
    margin: 5px;

}

#overlay {
	
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
	margin: auto;
	background-color: rgba(0,0,0,0.75);
	background-attachment: fixed;
	width: 325px;
	height: 185px;
	display: none;
	color: white;

}

#overlay .close-overlay {

	position: absolute;
	top: 10px;
	right: 10px;

}

table {

	border-collapse: collapse;

}

td, tr th {

	border: 1px solid black;
	padding: 5px 10px;

}

.upd, .del {

	display: inline-block;
	padding: 3px 8px;
	color: white;
	border-radius: 5px;
}

.upd {
	
	background-color: orange;

}

.del {

	background-color: red;

}

/* helper classes */

.hover-pointer:hover {

	cursor: pointer;

}

.no-underline {

	text-decoration: none;

}